<%- include("partials/header"); -%>
<style>
    body{
        /* display: flex;
        flex-direction: column;
        align-items: center; */
    }
    .weather{
        border: 1px solid black;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: max-content;
        align-items: center;
        background-color: lightblue;
        text-transform: uppercase;
        font-size: x-large;
        background: #78aacc;
    background-image: -webkit-linear-gradient(top, #78aacc, #36b82b);
    background-image: -moz-linear-gradient(top, #78aacc, #36b82b);
    background-image: -ms-linear-gradient(top, #78aacc, #36b82b);
    background-image: -o-linear-gradient(top, #78aacc, #36b82b);
    background-image: linear-gradient(to bottom, #78aacc, #36b82b);
    border-radius: 2%;
    box-shadow: 0 0 10px green;
        /* margin-left: 60px; */
        
    }
    .weather h2{
        font-size: 1.5em;

    }
    .weather img{
        height: 100px;
    }
    .wthrdiv{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    #pg-head{
        /* min-width: 100%; */
        /* align-self: center; */
        height: 50px;
        /* border: 1px black solid; */
        margin: 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: fit-content;
        
        animation: hd-an 18s linear infinite;
        text-transform: uppercase;
        /* color: green; */

    }
    @keyframes hd-an {
        0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(200%);
  }
   }
   .pghead{
    height: 60px;
    min-width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    background: #78aacc;
    background-image: -webkit-linear-gradient(top, #78aacc, #36b82b);
    background-image: -moz-linear-gradient(top, #78aacc, #36b82b);
    background-image: -ms-linear-gradient(top, #78aacc, #36b82b);
    background-image: -o-linear-gradient(top, #78aacc, #36b82b);
    background-image: linear-gradient(to bottom, #78aacc, #36b82b);
    
}





.hmcnt{
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    max-height: fit-content;
    overflow: scroll;
  }





  .btnhm {
    background: #78aacc;
    background-image: -webkit-linear-gradient(top, #78aacc, #36b82b);
    background-image: -moz-linear-gradient(top, #78aacc, #36b82b);
    background-image: -ms-linear-gradient(top, #78aacc, #36b82b);
    background-image: -o-linear-gradient(top, #78aacc, #36b82b);
    background-image: linear-gradient(to bottom, #78aacc, #36b82b);
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    text-shadow: 1px 1px 3px #666666;
    font-family: Georgia;
    color: #fcfcfc;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    /* position: absolute; */
    /* left: 60%; */
    width: 200px;
    position: relative;
    /* left: 100%; */
    align-self: flex-end;
    
  }
  
  .btnhm:hover {
    background: #36d167;
    background-image: -webkit-linear-gradient(top, #36d167, #3291d1);
    background-image: -moz-linear-gradient(top, #36d167, #3291d1);
    background-image: -ms-linear-gradient(top, #36d167, #3291d1);
    background-image: -o-linear-gradient(top, #36d167, #3291d1);
    background-image: linear-gradient(to bottom, #36d167, #3291d1);
    text-decoration: none;
  }
  #tab{
    border: .5px solid black;
    height: 800px;
    padding: 10px;
  }
  .tab1 , .tab3{
    width: 25%;

  }
  .tab2{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-content: right;
    /* justify-content: right; */
  }


.tab1 ul li{
    list-style-type: square;
    line-height: 40px;
    font-size: 18px;
  }
  .tab1  h1{
    font-size: 20px;
    background: #78aacc;
    background-image: -webkit-linear-gradient(top, #78aacc, #36b82b);
    background-image: -moz-linear-gradient(top, #78aacc, #36b82b);
    background-image: -ms-linear-gradient(top, #78aacc, #36b82b);
    background-image: -o-linear-gradient(top, #78aacc, #36b82b);
    background-image: linear-gradient(to bottom, #78aacc, #36b82b);
    border-left: 5px solid darkgreen;
    width: fit-content;
  }
  .tab2  h1{
    font-size: 20px;
    background: #78aacc;
    background-image: -webkit-linear-gradient(top, #78aacc, #36b82b);
    background-image: -moz-linear-gradient(top, #78aacc, #36b82b);
    background-image: -ms-linear-gradient(top, #78aacc, #36b82b);
    background-image: -o-linear-gradient(top, #78aacc, #36b82b);
    background-image: linear-gradient(to bottom, #78aacc, #36b82b);
    border-left: 5px solid darkgreen;
  }
  .tab2 p{
    font-size: 18px;
    word-spacing: 10px;
    line-height: 30px;
    padding: 5px;
  }
  .tab3  h1{
    font-size: 20px;
    background: #78aacc;
    background-image: -webkit-linear-gradient(top, #78aacc, #36b82b);
    background-image: -moz-linear-gradient(top, #78aacc, #36b82b);
    background-image: -ms-linear-gradient(top, #78aacc, #36b82b);
    background-image: -o-linear-gradient(top, #78aacc, #36b82b);
    background-image: linear-gradient(to bottom, #78aacc, #36b82b);
    border-left: 5px solid darkgreen;
    /* width: fit-content; */
  }


  .hmcnt2{
    height: 400px;
    width: 100%;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(211, 211, 197);

  }
  

  .hmcnt2-box{
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: #717171; */
    /* justify-items: center; */
    

  }
  #bx{
    border: 1px solid black;
    min-height: 100px;
    min-width: 100px;
    height: 100px;
    width: 200px;
    margin: 2%;
    text-align: center;
    background-color: rgb(226, 226, 211);
   
  }
  #nmh{
    font-size: 20px;
    font-weight: bolder;
    /* line-height: 5px; */
  }

  .slideshow-container {
    width: 100%;
    position: relative;
    margin: auto;
    height: 600px;
  }
  .slideshow-container img {
    width: 100%;
    height: 100%;
  }
  .prev, .next {
    position: absolute;
    top: 50%;
    margin-top: -22px;
    font-size: 18px;
    font-weight: bold;
    padding: 16px;
    color: white;
    background-color: rgba(0,0,0,0.5);
    border-radius: 0 3px 3px 0;
    cursor: pointer;
  }
  .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .dot-container {
    text-align: center;
    padding: 20px;
    /* background-color: #ddd; */
  }
  .dot {
    display: inline-block;
    margin: 0 2px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #bbb;
    cursor: pointer;
  }
  .active, .dot:hover {
    background-color: #717171;
  }
  .fade {
    animation-name: fade;
    animation-duration: 5s;
  }
  
  @keyframes fade {
    from {opacity: .1} 
    to {opacity: 1}
  }



</style>
</head>
<body>
    <%- include("partials/normalnavbar"); -%>
    

    <div class="pghead">
        <h1 id="pg-head">Welcome, <%= user.first_name %>! , How are you today?</h1>
    </div>
         
 
    
  <div class="slideshow-container">
    <img class="mySlides fade" src="/img/img1.jpeg">
    <img class="mySlides fade" src="/img/img2.jpeg">
    <img class="mySlides fade" src="/img/img3.jpeg">

  </div>

  <div class="dot-container">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
  </div>

  <script>
   
    let slideIndex = 0;
    showSlides();
    
    function showSlides() {
      let i;
      let slides = document.getElementsByClassName("mySlides");
      let dots = document.getElementsByClassName("dot");
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";  
      }
      slideIndex++;
      if (slideIndex > slides.length) {slideIndex = 1}    
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";  
      dots[slideIndex-1].className += " active";
      setTimeout(showSlides, 5000); 
    }
  </script>


<div class="hmcnt">
    <div class="tab1" id="tab">
     <h1>AGRICULTURE AT A GLANCE</h1>
     <ul>
       <li>Geographical Area ('000' hects.)<b> - <br>4421</b></li>
       <li>Cultivable Area ('000' hects.)<b> - <br>3741 (84.6%)</b></li>
       <li>Net Sown Area ('000' hects.)<b> - <br>3612 (96.5.6%)</b></li>
       <li>Irrigated Area ('000' hects)<b> - <br>3282 (90.9%)</b></li>
     </ul>

     
    </div>
    <div class="tab2" id="tab">
     <h1>AGRICULTURE DEPARTMENT</h1>
     <p>The word Agriculture comes from the Latin words ager, means the soil & cultura, means cultivation. Agriculture can be defined as the cultivation and/or production of crop plants or livestock products. Agriculture includes Crop Production, Agriculture Chemistry & Soil Science, Agriculture Engineering, and Extension Education. Agriculture is the backbone of our Indian Economy. Agriculture is the most important human economic activity.Haryana is primarily an agricultural state. About 70% of residents are engaged in agriculture. 
       Haryana is self-sufficient in food production and the second largest contributor to India's central pool of food grains. </p>
       <button class="btnhm" type="submit" >Read more</button>

       <h1>weather in your area!</h1>
       <div class="wthrdiv">
        <% if (typeof weather !== 'undefined') { %>
            <div class="weather">
                <h2><%= user_city %></h2>
              <div class="temperature"><%= weather.temperature %>&deg;C</div>
              <div class="description"><%= weather.description %></div>
              <img src="https://openweathermap.org/img/w/<%= weather.icon %>.png" alt="<%= weather.description %>">
            </div>
          <% } %>
       </div>

      


    </div>
    <div class="tab3" id="tab">
     <h1>WHO IS WHO?</h1>
     <dl>
      <div class="who-points">
        <dt><h3>Shri Kailash Choudhary</h3></dt>
        <dd>Honorable Minister of State (Agri & Farmers Welfare)</dd>
        <dd>phone : 23782343, 23388165</dd>
       </div>
       <div class="who-points">
        <dt><h3>Shri Narendra Singh Tomar</h3></dt>
        <dd>Honourable Minister of Agriculture & Farmers Welfare</dd>
        <dd>phone  : 23383370, 23782691</dd>
       </div>
       <div class="who-points">
        <dt><h3>Tejaswi S Naik</h3></dt>
        <dd>Private Secretary to Minister</dd>
        <dd>phone  : 23383370, 23782691</dd>
       </div>
     </dl>
    </div>
   
   
   
   
   </div>


   <div class="hmcnt2">
    <div class="hmcnt2-head">
      <h1>Agriculture Statistics</h1>
    </div>
    <div class="hmcnt2-box">
      <div class="bx-1" id="bx">
        <p id="nmh">2</p>
        <p>ACTIVE SCHEMES</p>
      </div>
      <div class="bx-2" id="bx">
        <p id="nmh">42</p>
        <p>SOIL TESTING LABORATORY</p>
      </div>
     
      <div class="bx-3" id="bx">
        <p id="nmh">985684</p>
        <p>UNIFIED FARMERS</p>
      </div>
      <div class="bx-4" id="bx">
        <p id="nmh">25,605</p>
        <p>SOIL HEALTH CARD</p>
      </div>
    </div>
   </div>

      
   <%- include("partials/footer"); -%>